= render partial: 'layouts/header'
.container
  = render partial: 'layouts/sidebar'
  .Main
    .Book
      .Book-cover 
        %h2.Book-cover-title MYSELFBOOK
        %h3 説明書
      .Book-details
        %h2.Book-details-title 使い方
        %p.Book-details-contents ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー