= render partial: 'layouts/header'
.container
  = render partial: 'layouts/sidebar'
  .Main
    .Book
      .Book-cover
      .Book-details
        %h2.Book-details-title
        %p.Book-details-contents