= render partial: 'layouts/header'
.container
  = render partial: 'layouts/sidebar'
  .Main
    .Book
      .Book-cover 
        %h2.Book-cover-title MYSELFBOOK
        %h3 説明書
      .Book-details
        %h2.Book-details-title 使い方
        %h3.Book-details-subtitle Notes(日記)
        %p.Book-details-contents あなたの自己肯定感を高めるために、次の7項目について日記を書くことができます。「タイトル」「良い言葉」「頑張ったこと」「できるようになったこと」「明日やること」「自由欄」「メモ」です。日記を残していくことで少しずつ自分に自信を持つことができていくでしょう。
        %h3.Book-details-subtitle Introductions(自己紹介文)
        %p.Book-details-contents 自己紹介文を残していくことができます。「30秒用」は3種類、「1分用」は2種類、「自由」は2種類とそれぞれ保存することができます。
        %h3.Book-details-subtitle Options(設定)
        %p.Book-details-contents 背景色や文字色をあなたのお気に入りの雰囲気に変更することができます。