= render partial: 'layouts/header'
.container
  = render partial: 'layouts/sidebar'
  .Main
    .Introductions
      .Introductions__top
        .Introductions__left
          .Introductions-time 30秒用
          %span.Introductions-text (文字数150〜200字)
        .Introductions__right
          .Introductions-item ①タイトル
          .Introductions-item ②タイトル
          .Introductions-item ③タイトル
      .Introductions__bottom
        .Introductions__left
          .Introductions-time 1分用
          %span.Introductions-text (文字数300〜400字)
        .Introductions__right
          .Introductions-item ①タイトル
          .Introductions-item ②タイトル
      .Introductions__bottom
        .Introductions__left
          .Introductions-time 自由欄
          %span.Introductions-text 好きなように書こう！
        .Introductions__right
          .Introductions-item ①タイトル
          .Introductions-item ②タイトル
