$cIntroBorder: #b59658;
$cBgIntroTime: #546474;
$cBgIntroItem: #b59658;
$cFontIntroItem: #333;
$cIntroFormBorder: #333;
$cBgIntroFormBtn: #546474;
$cFontIntroFormBtn: #b59658;

.Introductions {
  height: 720px;
  width: 600px;
  padding: 16px;
  margin: 80px auto;
  border: 6px solid $cIntroBorder;
  font-size: 20px;

  &__top {
    height: calc(100% * 3 / 7);
    display: flex;
  }

  &__bottom {
    height: calc(100% * 2 / 7);
    padding-top: 16px;
    border-top: 2px solid $cIntroBorder;
    display: flex;
  }

  &__left {
    width: 196px;
  }

  &-time {
    height: 48px;
    width: 84px;
    border: 3px solid $cIntroBorder;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cBgIntroTime;
  }

  &-text {
    font-size: 14px;
  }

  &__right {
    padding-top: 8px;
  }

  &-item {
    height: 48px;
    width: 360px;
    padding-left: 4px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: $cBgIntroItem;
    color: $cFontIntroItem;
  }
}

.IntroductionForm {
  height: 720px;
  width: 600px;
  padding: 16px;
  margin: 80px auto;
  border: 6px solid;

  &__top {
    border-bottom: 2px solid $cIntroFormBorder;
  }

  &__middle {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }

  &-label {
    margin-top: 16px;
  }

  &-input {
    width: calc(300% / 4);
  }

  &-textarea {
    height: 420px;
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    padding: 8px 8px 0 0;
  }

  &-btn {
    height: 42px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    border: 1px solid $cIntroFormBorder;
    border-radius: 50%;
    background-color: $cBgIntroFormBtn;
    text-decoration: none;
    color: $cFontNoteFormBtn;
  }
}
