$cNoteBorder: #b59658;
$cBgNote: #b59658;
$cFontNote: #333;
$cNoteFormBorder: #333;
$cBgNoteForm: #b59658;
$cFontNoteForm: #333;

.Note {
  height: 720px;
  width: 500px;
  margin: 80px auto;
  font-size: 16px;

  &__top {
    margin-bottom: 60px;
  }

  &-btn {
    padding: 12px 40px;
    border: 3px solid $cNoteBorder;

    &-icon {
      margin-right: 20px;
    }
  }

  &__bottom {
    height: calc(100% - 114px);
    overflow: scroll;
  }

  &-box {
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    margin-bottom: 3px;
    border: 1px solid $cNoteBorder;
    background-color: $cBgNote;
    color: $cFontNote;

    &__left {
      display: flex;
      align-items: center;
    }

    &__right {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: $cHoverIcon;
      }
    }

    &-icon {
      font-size: 36px;
    }
  }
}

.NoteForm {
  height: 720px;
  width: 500px;
  margin: 80px auto;
  font-size: 16px;
  border: 2px solid $cNoteFormBorder;
  color: $cFontNoteForm;
  background-color: $cBgNoteForm;

  &-title {
    font-size: 24px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    padding: 24px 8px;
  }

  &--small {
    height: 36px;
    margin-bottom: 8px;
  }

  &--large {
    height: 72px;
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
  }

  &-btn {
    height: 42px;
    width: 84px;
    margin-left: 16px;
    border-radius: 50%;
  }
}
