.OptionModal
  .OptionModal__background
  .OptionModal__content
    %h2 設定
    .OptionModal__item
      %h3 カラー
      .ColorBox
        %button{type: "button", class: "ColorBox-btn", id: "default-color"} デフォルト
        %button{type: "button", class: "ColorBox-btn", id: "pop-color"} ポップ
        %button{type: "button", class: "ColorBox-btn", id: "cute-color"} キュート
        %button{type: "button", class: "ColorBox-btn", id: "cadual-color"} カジュアル
        %button{type: "button", class: "ColorBox-btn", id: "impact-color"} インパクト
    .OptionModal__item
      %h3 フォント
    = link_to "閉じる", class: "OptionModal__close"