%aside.Sidebar
  .Sideber__top
    .MenuBox
      .MenuBox-icon
        = icon('fas', 'user-edit', class: '')
      %span.MenuBox-text SelfNote
    .MenuBox
      .MenuBox-icon
        = icon('fas', 'user-edit', class: '')
      %span.MenuBox-text SelfNote
    .MenuBox
      .MenuBox-icon
        = icon('fas', 'user-edit', class: '')
      %span.MenuBox-text SelfNote
  .Sidebar__bottom
    .Rule
      プライバシー・利用規約
      %br
      オープンソースライセンス
